:root {
    --main-blue: #4C6EF5;
    --main-blue-dark: #3B5BDB;
    --main-blue-light: #DBE4FF;
    --main-grey: #ADB5BD;
    --light-grey: #F1F3F5;
    --dark-text: #212529;
    --white: #ffffff;
    --radius: 12px;
    --shadow: 0 4px 16px rgba(76, 110, 245, 0.12);
}
/*
HERO START
*/
.hero {
  position: relative;
  width: 100%;
  height: 92vh;
  overflow: hidden;
  padding: 0;
  /*
  border-radius: 2rem;
  margin: 2.5rem;
  border: solid 0.3rem rgb(129, 113, 91);
*/
  }

.slide {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 1.5s ease-in-out;
  padding: 0;
}

.slide.active {
  opacity: 1;
  z-index: 1;
}

.slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Szöveg */

.hero-text {
  position: absolute;
  top: 50%;
  left: 10%;
  transform: translateY(-50%);
  color: white;
  max-width: 500px;
}

.hero-text h1 {
  font-size: 4rem;
  margin-bottom: 1rem;
}

.hero-text p {
  color: white;
  font-size: 1.4rem;
  opacity: 0.9;
}

.arrow {
  position: absolute;
  top: 50%;
  font-size: 3rem;
  background: rgba(255, 255, 255, 0.4);
  color: var(--main-blue) ;
  border: none;
  padding: 0.5rem 1rem;
  cursor: pointer;
  z-index: 10;
  transition: 0.3s;
}

.arrow:hover {
  background: rgba(255, 255, 255, 0.7);
}

.arrow.left {
  left: 1rem;
}

.arrow.right {
  right: 1rem;
}

/*
HERO END
*/
